*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--white-color);
}

:root{
    --main-color: #4D5AE5;
    --white-color: #FFFFFF;
    --button-color: #404BBF;
    --link-color:#2E2F42;
    --logo-color:#F4F4FD;
    --border-color:  #E7E9FC;
    --now-link-color: #434455;
}

.conteiner{
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px auto;
    height: auto;
    width: 1158px;
    outline: 2px solid tomato;

}

.accent{
    color: var(--main-color);
}

.logo{
    color: var(--link-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration: none;
}

.now-link{
    color: var(--link-color);
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
}

.now-link:hover{
    color: var(--main-color);
}

.now-link:focus{
    color: var(--main-color);
}

.list{
    list-style: none;
    margin-bottom: 0px;
}

.link{
    color: var(--now-link-color);
    font-style: normal;
    line-height: 1.5;
    text-decoration: none;
    letter-spacing: normal;
}

.link:hover{
    color: var(--button-color);
}

.link:focus{
    color: var(--button-color);
}

.hero{
    background-color: var(--link-color);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title{
    margin-top: 0px;
    margin-bottom: 40px;
    color: var(--white-color);
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.button{
    color: var(--white-color);
    background-color: var(--main-color);
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    display: inline-block;
}

.button:hover{
    background-color: var(--button-color);
    color: var(--white-color);
}

.button:focus{
    background-color: var(--button-color);
    color: var(--white-color);
}

.section{
    margin-top: 120px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.future-title{
    color: var(--link-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 0px;
    margin-bottom: 8px;
}

.future-text{
    color: var(--now-link-color);
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.changes{
    margin-bottom: 0;
}

.section-title{
    color: var(--link-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 72px;
    text-align: center;
}

.background{
    background-color: var(--logo-color);
}

.color{
    background-color: var(--white-color);
}

.footer{
    background-color: var(--link-color);

}

.logo-footer{
    color: var(--logo-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    text-decoration: none;
}

.text-footer{
    color: var(--white-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.now-button{
    background-color: var(--logo-color);
    border: 1px solid var(--white-color);
    border-radius: 4px;
    color: var(--main-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    cursor: pointer;
}

.now-button:hover{
    background: var(--button-color);
    color: var(--white-color);
}

.now-button:focus{
    background: var(--button-color);
    color: var(--white-color);
}